<?xml version="1.0"?>
<appSettings>
  <add key="CstCode" value="Raadeen"/>
  <add key="ShowPasswordInLoginState" value="true"/>
  <add key="ShowRememberMeInLoginState" value="true"/>
  <add key="LiveBroadcastLink" value="https://www.aparat.com/embed/live/radioofoghkourosh"/>
  <add key="CompanyLink" value="http://www.tukadev.ir"/>
</appSettings>